article{
    background: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 105px;


    div.left{

        h2 {
            color: $black-title;
            font-size: 24px;
        }

        p {
            color: $gray-lorem;
            font-size: 19px;
            margin-top: 5px;
        }
    }

    div.right{
        display: flex;
        justify-content: end;
        align-items: center;
        img{
            cursor: url('/images/cursor.png'), pointer;
            margin-right: 140px;
        }

        i{
            cursor: url('/images/cursor.png'), pointer;
            font-size: 28px;
            color: $orange;
            opacity: 65%;
        }
    }
}