article-2 {
    max-width: 1980px;
    height: 596px;
    background: $black-title;
  
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        color: #212121;
        font-size: 40px;
        margin-top: 90px;
    }

    img{
        margin-top: 25px;
    }

    p {
        font-size: 16px;
        color: $gray-lorem;
        margin-top: 25px;
    }

    div.conatiner {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}