$black: #1C1C1C;
$white: #FFFFFF;
$gray: #F5F5F5;
$grey: #D8D8D8;
$green: #41D395;
$orange: #E27866;
$blue: #6696E2;

$gray-lorem: #86878B;
$black-title: #333333;
$black-hover: #313030;
$green-hover: #1c9d66;