footer {
    background: $black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 105px;

    div.left{
        display: flex;
        justify-content: end;
        align-items: center;
        img{
            cursor: url('/images/cursor.png'), pointer;
            margin-right: 140px;
            opacity: 1;
            filter: brightness(1.25);
        }

        i{
            cursor: url('/images/cursor.png'), pointer;
            font-size: 28px ;
            color: $orange;
            opacity: 0.7;
        }  
    }

    div.right{
        font: normal normal normal 18px/14px Montserrat;
        color: $white;
        opacity: 0.5;
    }
}