header {
    min-height: 639px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/img-1.png);
    background-position: center;
    background-size: cover;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    div.left {
       
        
        img.logo {
            margin-top: 40px;
            width: 247px;
            height: 108px;
        } 

        h1 {
            font-size: 36px/43px;
            margin-top: 30px;
        }

        img.line{
            margin-top: 35px;
            margin-bottom: 35px;
            width: 80px;
        }

        button{
            width: 135px;
            height: 42px;
            border: 2px solid $white;
            background: transparent;
            color: $white;
            margin-top: 40px;
            margin-bottom: 93px;
            transition: 0.3s;
        }

        button:hover {
            background: $gray;
            color: $black;
            border: none;
        }
    }

    div.right {
        display: flex;
        justify-content: end;
        align-items: center;

        div.forum{
            position: relative;
            min-width: 360px;
            height: 425px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            color: $black;
            box-shadow: 0px 5px 20px #00000029;
            background: $white;
    
            h2{
                width: 100%;
                height: 57px;
                border-radius: 7px 7px 0 0;
                background: $gray;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
            }
    
            span{
                color: $orange;
            }
    
            p{
                text-align: center;
                margin-top: 25px;
                font-size: 19px;
            }
    
            div.Your-details{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p {
                    margin: 35px 0 0 0;
                }
    
                input{
                    margin-top: 20px;
                    width: 260px;
                    height: 20px;
                    border: none;
                    background: transparent;
                    border-bottom: 1px solid $grey;
                    outline: none;
                }
            }
    
            div.Type-of-subscription{

                div.radio {
                    margin-top: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    div.checkbox {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
        
                    input[type="radio"] {
                        visibility: hidden;
                        cursor: url('/images/cursor.png'), pointer;
                    }
        
                    label {
                        font: normal normal 600 9px/27px Montserrat;
                        color: $black; 
                    }
        
                    label.green-radio-up {
                        position: relative;
                        display: block;
                        width: 12.5px;
                        height: 12.5px;
                        border-radius: 100%;
                        border: 1px solid $green;
                        margin-right: 10px;
                    }
        
                    label.green-radio-up::before {
                        visibility: hidden;
                        position: absolute;
                        content: "";
                        width: 5px;
                        height: 5px;
                        background: $green;
                        border-radius: 100%;
                        left: 3px;
                        top: 2.5px;
                    }
        
                    input[type="radio"]:checked+label.green-radio-up::before {
                        visibility: visible;
                    } 
                }
            }
    
            button{
                position: absolute;
                bottom: 0px;
                width: 100%;
                height: 57px;
                background: $green;
                color: $white;
                border: none;
                font-size: 22px;
                border-radius: 0 0 7px 7px;
                margin-top: 0px;
                margin-bottom: 0px;
                cursor: url('/images/cursor.png'), pointer;
                transition: 0.3s;
            }

            button:hover {
                background: $green-hover;
                color: $gray;
            }
        }
    }
  }