main {
    max-width: 1980px;
    height: 883px;
    background: $blue;
  
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        color: $white;
        font-size: 40px;
        margin-top: 100px;
    }

    img {
        margin-top: 25px;
    }

    p {
        color: $white;
        font-size: 16px;
        margin-top: 25px;
    }

    div.container {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 25px;
        height: 100%;
     
        margin-bottom: 100px;

        div.item {
            display: flex;
            flex-direction: column;
            // border: 3px solid black ;
            width: 343px;
            transition: 0.3s;

            div.price {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: $black;
                border-radius: 10px 10px 0 0;

                h3 {
                    font: normal normal normal 20px/24px Montserrat;
                    margin-top: 10px;
                }

                h1 {
                   font-size: 30px;
                   margin-top: 50px;
                    span {
                        font: normal normal normal 94px/24px Montserrat;
                    }
                }

                p.small {
                    font: normal normal normal 14px/24px Montserrat;
                    color: $white;
                    opacity: 0.5;
                    margin-bottom: 15px;
                }
            }

            button {
                height: 6px;
                background: $green;
                border: none;
                transition: 0.3s;

                h4 {
                    font: normal normal normal 14px/24px Montserrat;
                    color: $white;
                    opacity: 0;
                    transition: 0.3s;
                }
            }

            div.about {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background: $white;
                border-radius: 0 0 10px 10px;

                p{
                    font: normal normal normal 14px/24px Montserrat;
                    color: $gray-lorem;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }

         div.item:hover{
            transform: scaleX(-20px);
            button {
                cursor: pointer;
                height: 40px;
                transition: 0.3s;

                h4{
                    opacity: 1;
                    transition: 0.3s;
                }
            }
         }
    }
}