@media (max-width: 768px) {

    * {
        max-width: 768px;
      }

    h1 {
        font-size: 1em;
        text-align: center;
    }

    h2 {
        font-size: 1em;
        text-align: center;
    }

    h3 {
        font-size: 1em;
        text-align: center;
    }

    h4 {
        font-size: 1em;
        text-align: center;
    }

    p {
        font-size: 0.5em;
        text-align: center;
    }
    
    nav{
        min-height: 96px;
        div.container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            
            div.left {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                margin-top: 10px;
            }

            div.right {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 0;
                margin-top: 10px;
                margin-bottom: 10px;

                button {
                    background: $black-title;
                    border-radius: 5px;
                    border: 1px solid gray;
                    padding: 3px;

                }
            }
        }
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div.left {
            margin-right: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img.logo {
                margin-top: 40px;
            }
    
            img.line{
                margin-top: 15px;
                margin-bottom: 5px;
                width: 80px;
            }
    
            button{
                width: 135px;
                height: 42px;
                border: 2px solid $white;
                background: transparent;
                color: $white;
                margin-top: 20px;
                margin-bottom: 43px;
                transition: 0.3s;
            }
    
        }

        div.right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            margin: 0;
            .forum {
                margin-left: 25%;
                margin-bottom: 10px;
            }
        }
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        div.left {
            margin: 0;
        }

        div.right {
            margin: 0;
            margin-bottom: 20px;
            img {
                margin-right: 35px;
            }
        }
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div.container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            div.left {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 15px;
                margin: 0;
                margin-bottom: 10px;
            }

            div.right {
                margin: 0;
            }
        }
    }

    section-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div.left {
            margin: 0;

            img.logo {
                margin-top: 25px;
                width: 300px;
            }
        }

        div.right {
            margin: 0;
            margin-left: 25px;
            margin-right: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1{
                margin-top: 35px;
            }

            p.under-line {
                margin-bottom: 25px;
            }

            div.conatainer {
                margin: 0;
                margin-bottom: 25px;

                h3{
                    text-align: left;
                }
            }
        }
    }

    section-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            margin-top: 40px;
            text-align: center;
        }

        p {
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;
        }

        div.container {
            width: 100%;
            justify-content: space-around;
            align-items: start;

            div.item {
                margin-top: 25px;

                h3 {
                    text-align: center;
                }

                p {
                    margin-top: 20px;
                }
            }
        }
    }

    section-4 {
        h1 {
            margin-top: 35px;
            text-align: center;
        }
        div.container{
            width: 100%;
            div.swiper .swiper-initialized .swiper-horizontal{
                width: 100px;
            }
            div.swiper-button-prev{
                visibility: visible;
            }
    
            div.swiper-button-next{
                visibility: visible;
            }

            .tab-buttons button.invisible{
                display: block;
            }

            div.item {
                p {
                    text-align: left;
                }
            }
        }
    }

    main {

        height: 1840px;
        h1{
            margin: 0;
            margin-top: 25px;
        }

        p{
            text-align: center;
            margin-left: 25px;
            margin-right: 25px;
        }

        div.container{
            margin-top: 25px;
            flex-direction: column;

            div.item {
                button {
                    height: 40px;
    
                    h4 {
                        opacity: 1;
                    }
                }
            }
        }
    }

    footer {

        div.container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            div.left{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                img{
                    cursor: url('/images/cursor.png'), pointer;
                    margin-right: 35px;
                    opacity: 1;
                    filter: brightness(1.25);
                }
        
                i{
                    cursor: url('/images/cursor.png'), pointer;
                    font-size: 28px ;
                    color: $orange;
                    opacity: 0.7;
                }  
            }
    
            div.right {
                margin: 0;
                p {
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
}