@media (max-width: 768px) {

    * {
        max-width: 768px;
      }

    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 1em;
    }

    p {
        font-size: 0.5em;
    }
    
    nav{
        min-height: 96px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div.left {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            margin-top: 10px;
        }

        div.right {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 10px;

            button {
                background: $black-title;
                border-radius: 5px;
                border: 1px solid gray;
                padding: 3px;

            }
        }
    }

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        div.left {
            margin-right: 40px;
            img.logo {
                margin-top: 40px;
            }
    
            img.line{
                margin-top: 15px;
                margin-bottom: 5px;
                width: 80px;
            }
    
            button{
                width: 135px;
                height: 42px;
                border: 2px solid $white;
                background: transparent;
                color: $white;
                margin-top: 20px;
                margin-bottom: 43px;
                transition: 0.3s;
            }
    
        }

        div.right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            margin: 0;
            .forum {
                margin-left: 25%;
                margin-bottom: 10px;
            }
        }
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        div.right {
            margin: 0;
            margin-bottom: 20px;
            img {
                margin-right: 35px;
            }
        }
    }

    section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div.container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            div.left {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 15px;
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }

    section-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        div.left {
            margin: 0;

            img.logo {
                margin-top: 25px;
            }
        }

        div.right {
            h1{
                margin-top: 35px;
            }

            p.under-line {
                margin-bottom: 25px;
            }

            div.conatainer {
                margin: 0;
                margin-bottom: 25px;
            }
        }
    }

    section-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            margin-top: 40px;
            text-align: center;
        }

        p {
            text-align: center;
            margin-left: 10%;
            margin-right: 10%;
        }

        div.container {
            width: 100%;
            justify-content: space-around;
            align-items: start;

            div.item {
                margin-top: 25px;

                h3 {
                    text-align: center;
                }

                p {
                    margin-top: 20px;
                }
            }
        }
    }

    section-4 {
        h1 {
            margin-top: 35px;
            text-align: center;
        }
        div.container{
            div.swiper-button-prev{
                visibility: visible;
            }
    
            div.swiper-button-next{
                visibility: visible;
            }

            .tab-buttons button.invisible{
                display: block;
            }
        }
    }

    main {
        display: none;
    }

    footer {
        display: none;
    }
}