nav{
    height: 72px;
    background: $black 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: space-between;


    div.right{
        display: flex;
        justify-content: end;
        align-items: center;

        button{
        margin-right: 25px;
        background: transparent;
        border: 3px;
        color: $white;
        cursor: url('/images/cursor.png'), pointer;
        transition: 0.3s;
        }
    }
}