section-3 {
    height: 596px;
    background: $white ;
  
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        color: #212121;
        font-size: 40px;
        margin-top: 100px;
    }

    img{
        margin-top: 25px;
    }

    p {
        font-size: 16px;
        color: $gray-lorem;
        margin-top: 25px;
    }

    div.container {
        max-width: 1920px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 300px;
            margin-top: 70px;

            div.icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                border: 3px solid $orange;

                i {
                    color: $orange;
                }
            }

            h3 {
                margin-top: 15px;
                color: $black-title;
                font-size: 22px;
            }

            p {
                text-align: center;
                margin-top: 40px;
            }
        }
    }
}