section {
    max-width: 1980px;
    height: 595px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/img-1.png);
    background-position: center;
    background-size: cover;
}