section {
    position: relative;
    min-height: 595px;
    // background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box, url(/images/img-2.png);
    background: transparent linear-gradient(270deg, #6696E2 0%, #E27866 100%) 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: cover;
    z-index: 0;

    img.background{
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.42;
        z-index: -1;
    }

    div.container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

            div.left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100px;

                div.box {
                width: 100px;
                height: 100px;
                background: transparent url('/images/tab-1.png') 0% 0% no-repeat padding-box;
                box-shadow: 4px 1px 6px #00000029;
                opacity: 1;
                z-index: -1;
                margin-top: 21px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                h4 {
                    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
                    font-size: 14px;
                    letter-spacing: 0px;
                }
            }
        } 

        div.center {
            margin-left: 35px;
            margin-right: 35px;
            h1{
                font-size: 36px;
                color: $white;
                margin-bottom: 30px;
            }

            p {
                font-size: 14px;
                color: $gray;
                margin-top: 25px;
                letter-spacing: 0px;
            }
        }

        div.right {
           display: flex;
           justify-content: center;
           align-items: center;

            div.container {
                display: grid;
                grid-template-rows: 175px 175px;
                grid-template-columns: 175px 175px;
                transition: all 0.3s ease-in-out;
                
                height: 400px;

                .overlay {
                    position: absolute;
                    top: 5.5px;
                    left: 8px;
                    right: 0;
                    bottom: 0;
                    opacity: 0;
                    transition: 0.4s ease-in-out;
                    background: $orange;
                    cursor: url('/images/cursor.png'), pointer;

                    .content {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        transition: all 0.3s ease-in-out;
                    }
                }


                .item-1 {
                    grid-row: 1/1;
                    grid-column: 1/1;
                    position: relative;
                    transition: all 0.3s ease-in-out;

                    .overlay {
                        height: 87.7%;
                        width: 90.8%;
                    }
                    
                }

                .item-2 {
                    grid-row: 1/1;
                    grid-column: 2/2;
                    position: relative;
                    transition: 0.3s;

                    .overlay {
                        height: 88.1%;
                        width: 91%;
                        left: 8px;
                    }
                }

                .item-3 {
                    grid-row: 2/2;
                    grid-column: 1/3;
                    position: relative;
                    transition: 0.3s;

                    .overlay {
                        height: 88.5%;
                        width: 95.5%;
                        left: 7.5px;
                        top: 5px;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    position: relative;
                }

                .item-1:hover .overlay {
                    opacity: 0.8;
                }
                .item-2:hover .overlay {
                    opacity: 0.8;
                }
                .item-3:hover .overlay {
                    opacity: 0.8;
                }
            }
        }
    }   
}

.grid-container > div {
    transition: all 0.3s ease-in-out;
  }