@import 'variables';

@import 'colors';
@import 'DivLeftAndRight';

@import 'nav';
@import 'header';
@import 'article';
@import 'section';
@import 'section-2';
@import 'section-3';
@import 'main';
@import 'section-4';
@import 'swiper';
@import 'section-5';