.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    button {
        padding: 5px;
        margin: 10px;
        background: transparent;
        border: 3px solid $orange;
        border-radius: 100%;
        transition: 0.3s;
    }

    button:hover {
        cursor: url('/images/cursor.png'), pointer;
        background: $orange;
    }

    button.active {
        background: $orange;
    }

    button.invisible {
        display: none;
    }
}