.swiper {
    width: 100%;
    max-width: 880px;
    height: 300px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    button {
        padding: 15px;
        margin: 10px;
        background: red;
        border: none;
        border: 3px solid red;
        border-radius: 4px;
        transition: 0.3s;
    }

    button:hover {
        cursor: pointer;
        border-color: black;
    }

    button.active {
        border-color: black;
    }
}